* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
    cursor: url("https://a1site.github.io/shreshth_malik/custom_cursor/2reszied.png"), auto;
}


    .main #additionalh2 {
        color: white;
        margin-top: 10%;
        margin-bottom: -3%;
        text-transform: capitalize;
        font: 30px / 1.2 "Lobster Two", Helvetica, sans-serif;
        display: block;
        text-shadow: rgba(0, 0, 0, 0.1) 4px 4px 3px;
    }

    .main #additionalh5 {
        font: 26px "Lobster Two", Helvetica, sans-serif;
        display: block;
        text-shadow: rgba(0, 0, 0, 0.1) 4px 4px 3px;
        color: white;
        letter-spacing: 2px;
        margin-top: 15%;
        margin-bottom: 10%;
        text-transform: capitalize;
    }


/*about section added text and format*/
/* General section headers */
.about h2,

.education h2 {
    display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/* About section */
.about p {
  line-height: 1.6;
  font-size: 15px;
  margin-bottom: 30px;
  text-align: justify;
}


/*projects section*/
.projects{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-left: 32%;
    
}
.about .project img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  border: 3px solid white; /* optional */
}


.projects h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}



.project-item a:hover {
  text-decoration: underline;
}


/* Education section */
.education .edu-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.education .edu-left p,
.education .edu-right p {
  margin: 3px 0;
  font-size: 15px;
}

.education .edu-left strong {
  font-weight: bold;
}




/*scrambling effect code*/
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
.container{
  height: 100%;
  width: 100%;
  margin-top: 15%;
  margin-left: 5%;
font-family :'Roboto Mono', monospace;
z-index: -1;
}
.text{
  font-weight :100;
  font-size :28px;
  color :#FAFAFA;
}
.dud{
  color: #757575;
}



/*test code*/
/* Flicker animation only for the glow */
@keyframes flickerGlow {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    background: radial-gradient(circle, rgba(71, 71, 70, 0.4) 0%, transparent 70%);
  }
  20%, 22%, 24%, 55% {
    background: radial-gradient(circle, rgba(71, 71, 70, 0) 0%, transparent 70%);
  }
}

.hero {

  background-image: url("/customerpics/c0.png");
  transition: background 0.3s ease;
}
.hero.colored {
  background-image: url("/customerpics/c2.png");

}

/* Glow default (off) */
.hero::before {
  content: "";
  position: absolute;
  top: 400px;
  right: 12px;
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, rgba(71, 71, 70, 0) 0%, transparent 70%);
  pointer-events: none;
  z-index: 0;
  transition: background 0.3s ease;
  
}

/* Glow ON */
.hero.glow::before {
  background: radial-gradient(circle, rgba(71, 71, 70, 0.4) 0%, transparent 70%);
}

/* Flicker animation for glow */
.hero.flicker::before {
  animation: flickerGlow 0.6s linear 1;
}

.lamp {
  position: absolute;
  top: 9%;
  right: 110px;
  height: 300px;
  z-index: 0;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.lamp:hover {
  transform: scale(1.05);
}





body {
    margin-right: 9.5%;
    margin-left: 9.5%;
    margin-top: 9.5%;
    background-color: rgb(23, 23, 23);
    cursor: url("https://a1site.github.io/shreshth_malik/custom_cursor/2reszied.png"), auto;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 20px;
}

body::before {
    content: "";
    position: absolute;
    cursor: url("https://a1site.github.io/shreshth_malik/custom_cursor/2reszied.png"), auto;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url("https://a1site.github.io/shreshth_malik/template/sec1.png");
    background-attachment: fixed;
    filter: blur(10px);
    z-index: -1;
}

.hero {
    position: relative;
 transition: background 0.3s ease;

    color: whitesmoke;
    height: 100vh;
    width: 100%;
    
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: right bottom;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.8px;
    padding-left: 8%;
    padding-right: 8%;
    background-color: rgb(16, 16, 16);
    font-size: small;
}

.navul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

.navul li a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font: 18px / 1.2 "Lobster Two", Helvetica, sans-serif;
    text-shadow: rgba(0, 0, 0, 0.1) 4px 4px 3px;
}

.navul li a:hover {
    color: rgb(249, 0, 77);
    transition: 0.4s;
}

.logo {
    color: rgb(241, 234, 236);
    font: 30px / 1.2 "Lobster Two", Helvetica, sans-serif;
    text-shadow: rgba(0, 0, 0, 0.1) 4px 4px 3px;
}

ul {
    display: flex;
    list-style: none;
    gap: 2.5rem;
}

.item a {
    text-decoration: none;
    width: 4.8rem;
    height: 4.8rem;
    background-color: rgb(240, 249, 254);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border: 3px solid rgb(240, 249, 254);
    overflow: hidden;
}

.item a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 0;
    scale: 1 0;
    transform-origin: center bottom 0px;
    transition: scale 0.5s;
}

.item:hover a::before {
    scale: 1;
}

.icon {
    font-size: 1rem;
    color: rgb(2, 25, 39);
    transition: 0.5s;
    z-index: 2;
}

.item a:hover .icon {
    color: rgb(255, 255, 255);
    transform: rotateY(360deg);
}

.item:nth-child(1) {
    --bg-color: linear-gradient(to bottom right, #f9ce34, #ee2a7b, #6228d7);
}

.item:nth-child(2) {
    --bg-color: #0077b5;
}

.item:nth-child(3) {
    --bg-color: #ff0000;
}

.item:nth-child(4) {
    --bg-color: #000;
}

.btn {
    background-color: rgb(249, 0, 77);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform 0.4s;
}

.btn:hover {
    transform: scale(1.2);
}

.content {
    margin-left: 80px;
    margin-top: 15%;
    
    color: white;
}

h4 {
    color: white;
    letter-spacing: 2px;
    word-spacing: 30px;
    font: 550 50px / 0.8 "Great Vibes", Helvetica, sans-serif;
    text-shadow: rgba(0, 0, 0, 0.1) 4px 4px 3px;
}

h1 {
    font: 550 50px / 0.8 "Great Vibes", Helvetica, sans-serif;
    margin-top: 5%;
    text-shadow: rgba(0, 0, 0, 0.1) 4px 4px 3px;
}

h3 {
    color: white;
    margin-bottom: 60px;
    font: 550 50px / 0.8 "Great Vibes", Helvetica, sans-serif;
    margin-top: 5%;
    text-shadow: rgba(0, 0, 0, 0.1) 4px 4px 3px;
}

.about {
    width: 100%;
    padding: 0px;

}

.about img {
    height: auto;
    max-width: 430px;
}

.about-text {
    width: auto;
    padding: 30px;
}

.main {
    background-color: rgb(0, 0, 0, 1);
    max-width: 95%;
    margin: 0px auto;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: white;
    text-transform: capitalize;
    margin-bottom: 20px;
    font: 30px / 1.2 "Lobster Two", Helvetica, sans-serif;
    text-shadow: rgba(0, 0, 0, 0.1) 4px 4px 3px;
}

.about-text h5 {
    color: white;
    letter-spacing: 2px;
    margin-bottom: 25px;
    text-transform: capitalize;
    font: 30px / 1.2 "Lobster Two", Helvetica, sans-serif;
    text-shadow: rgba(0, 0, 0, 0.1) 4px 4px 3px;
}

.about-text p {
    font: 1.5vw / 29px "Lobster Two", Helvetica, sans-serif;
    text-shadow: rgba(6, 6, 6, 0.1) 4px 4px 3px;
    color: #5eae56;

    letter-spacing: 1px;
    word-spacing: -1px;
    margin-bottom: 45px;
    margin-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
}

button {
    background-color: rgb(249, 0, 77);
    color: aliceblue;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    transition: 0.4s;
}

button:hover {
    background-color: transparent;
    border: 2px solid rgb(249, 0, 77);
    cursor: pointer;
}

footer {
    position: relative;
    width: 100%;
    height: 400px;
    background: rgb(16, 16, 16);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1) {
    color: white;
    margin-bottom: 20px;
    font: 30px / 1.2 "Lobster Two", Helvetica, sans-serif;
    text-shadow: rgba(0, 0, 0, 0.1) 4px 4px 3px;
}

footer p:nth-child(2) {
    font: 1.5vw / 35px "Lobster Two", Helvetica, sans-serif;
    text-shadow: rgba(0, 0, 0, 0.1) 4px 4px 3px;
    color: white;
    width: auto;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    margin-bottom: 2%;
}

.social {
    display: flex;
}

.social a {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(236, 232, 234);
    border-radius: 50%;
    margin: 22px 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
}

.social a:hover {
    transform: scale(1.3);
    transition: 0.3s;
}

.end {
    position: absolute;
    color: rgb(249, 0, 77);
    bottom: 35px;
    font-size: 1.2vw;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgb(138, 133, 133) rgb(41, 40, 40);
}

::-webkit-scrollbar {
    width: 16px;
    cursor: url("https://a1site.github.io/shreshth_malik/custom_cursor/2reszied.png"), auto;
}

::-webkit-scrollbar-track {
    background: rgb(41, 40, 40);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(138, 133, 133);
    border-radius: 6px;
    border: 3px dotted rgb(103, 101, 101);
}

a {
    cursor: url("https://a1site.github.io/shreshth_malik/custom_cursor/pointercursorresized4.png"), pointer;
}

.menu-btn {
    display: none;
}

@media screen and (max-width: 768px) {
  
  
  
/* Education section */
.education  {
  display: flex;
flex-direction: column;
  margin-bottom: 20px;
}

.education .edu-left p,
.education .edu-right p {
  margin: 3px 0;
  font-size: 15px;
}

.education .edu-left strong {
  font-weight: bold;
}
  
  
  
    body {
        margin-right: 9.5%;
        margin-left: 9.5%;
        margin-top: 9.5%;
        background-color: rgb(23, 23, 23);
        cursor: url("https://a1site.github.io/shreshth_malik/custom_cursor/2reszied.png"), auto;
        box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 20px;
    }

    body::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-image: url("https://a1site.github.io/shreshth_malik/template/sec1re.png");
        background-position: right top;
        background-attachment: fixed;
        filter: blur(10px);
        z-index: -1;
    }

    .hero {
        height: 80vh;
        width: 100%;
       
        background-size: 300px;
        background-repeat: no-repeat;
        background-position: right bottom;
    }

    nav {
        position: sticky;
        padding-top: 0.8px;
        padding-left: 0%;
        padding-right: 8%;
        font-size: small;
        width: 100%;
    }

    svg {
        height: 80px;
        position: absolute;
        width: 80px;
    }

    .plates {
        display: flex;
        flex-wrap: wrap;
        max-height: 160px;
        width: 10px;
    }

    .plates {
        width: 32px;
    }

    .plate {
        height: 80px;
        width: 80px;
    }

    .burger {
        filter: url("#gooeyness");
    }

    .x {
        transform: scale(0);
        transition: transform 400ms;
    }

    .line {
        fill: none;
        stroke: rgb(253, 253, 253);
        stroke-width: 6px;
        stroke-linecap: round;
        stroke-linejoin: round;
        transform-origin: 50% center 0px;
        transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
    }

    .x .line {
        stroke-width: 5.5px;
    }

    .active .x {
        transform: scale(1);
        transition: transform 400ms 350ms;
    }

    .plate2 .line1 {
        stroke-dasharray: 21px, 185.628px;
    }

    .plate2 .line2 {
        stroke-dasharray: 21px, 178.651px;
        transition-delay: 30ms;
    }

    .plate2 .line3 {
        stroke-dasharray: 21px, 197.924px;
        transition-delay: 60ms;
    }

    .plate2 .line4 {
        stroke-dasharray: 21px, 190.66px;
        transition-delay: 90ms;
    }

    .plate2 .line5 {
        stroke-dasharray: 21px, 208.529px;
        transition-delay: 120ms;
    }

    .plate2 .line6 {
        stroke-dasharray: 21px, 186.597px;
        transition-delay: 150ms;
    }

    .active.plate2 .line1 {
        stroke-dasharray: 5px, 185.628px;
        stroke-dashoffset: -141px;
    }

    .active.plate2 .line2 {
        stroke-dasharray: 5px, 178.651px;
        stroke-dashoffset: -137px;
    }

    .active.plate2 .line3 {
        stroke-dasharray: 5px, 197.924px;
        stroke-dashoffset: -176px;
    }

    .active.plate2 .line4 {
        stroke-dasharray: 5px, 190.66px;
        stroke-dashoffset: -159px;
    }

    .active.plate2 .line5 {
        stroke-dasharray: 5px, 208.529px;
        stroke-dashoffset: -139px;
    }

    .active.plate2 .line6 {
        stroke-dasharray: 5px, 186.597px;
        stroke-dashoffset: -176px;
    }

    .active.plate2 .x {
        transition: transform 400ms 250ms;
    }

    .logo {
        margin-right: auto;
    }

    .content {
        margin-left: 17px;
        margin-top: 15%;
        color: white;
    }

    h4 {
        color: white;
        letter-spacing: 2px;
        word-spacing: 10px;
        font-size: 40px;
    }

    h1 {
        font-size: 40px;
        margin-top: 5%;
    }

    h3 {
        color: white;
        font-size: 30px;
        margin-bottom: 60px;
        margin-top: 4%;
    }

    .main {
        max-width: 100%;
        margin: 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: space-around;
    }

    .about {
        width: 100%;
        padding: 0px;
        background-color: rgb(10, 10, 10);
    }

    .about img {
        margin-top: 15%;
        height: auto;
        width: 230px;
        box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 20px;
    }

    .about-text h2 {
        color: white;
        display: none;
        font-size: 30px;
        text-transform: capitalize;
        margin-bottom: 25px;
    }

    .main #additionalh2 {
        color: white;
        margin-top: 10%;
        text-transform: capitalize;
        font: 30px / 1.2 "Lobster Two", Helvetica, sans-serif;
        display: block;
        text-shadow: rgba(0, 0, 0, 0.1) 4px 4px 3px;
    }

    .main #additionalh5 {
        font: 20px / 1.2 "Lobster Two", Helvetica, sans-serif;
        display: block;
        text-shadow: rgba(0, 0, 0, 0.1) 4px 4px 3px;
        color: white;
        letter-spacing: 2px;
        margin-top: 2%;
        text-transform: capitalize;
    }

    .about-text h5 {
        color: white;
        letter-spacing: 2px;
        display: none;
        font-size: 20px;
        margin-bottom: 25px;
        margin-top: 2%;
        text-transform: capitalize;
    }

    .about-text p {
        font-size: 15px;
        color: rgba(255, 204, 255, 0.8);
        letter-spacing: 1px;
        line-height: 29px;
        word-spacing: -2px;
        margin-bottom: 45px;
        margin-top: 10%;
        padding-left: 5%;
        padding-right: 5%;
        text-align: justify;
    }

    button {
        background-color: rgb(249, 0, 77);
        color: aliceblue;
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 13px 30px;
        transition: 0.4s;
    }

    button:hover {
        background-color: transparent;
        border: 2px solid rgb(249, 0, 77);
        cursor: pointer;
    }

    footer {
        position: relative;
        width: 100%;
        height: 400px;
        background: rgb(16, 16, 16);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer p:nth-child(1) {
        font-size: 25px;
        color: white;
        margin-bottom: 20px;
        font-weight: bold;
    }

    footer p:nth-child(2) {
        color: white;
        font-size: 15px;
        width: auto;
        text-align: center;
        line-height: 26px;
        margin-bottom: 10%;
        padding-right: 4%;
        padding-left: 4%;
    }

    .social {
        display: flex;
    }

    .social a {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(236, 232, 234);
        border-radius: 50%;
        margin: -10px;
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 20px;
    }

    .social a:hover {
        transform: scale(1.3);
        transition: 0.3s;
    }

    .end {
        position: absolute;
        color: rgb(249, 0, 77);
        bottom: 35px;
        margin-top: 0%;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .education h2 {

  
  margin-bottom: 40px;
  text-transform: uppercase;
}



/*projects section*/
.projects{
    display:block;
    margin: 0;
    margin-top: 20%;
    
    
}
.projects h2 {
  font-size: xx-small;
  font-weight: normal;
  margin-bottom: 10px;
  text-transform: uppercase;
}

    
    
    body {
        margin-right: 3%;
        margin-left: 3%;
        margin-top: 3%;
    }

    body::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-image: url("https://a1site.github.io/shreshth_malik/template/ressec2.png");
        background-attachment: fixed;
        background-size: 330px;
        filter: blur(5px);
        z-index: -1;
    }

    html {
        overflow-x: hidden;
    }

    .hero {
        background-size: 300px;
        background-repeat: no-repeat;
        background-position: center bottom;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: inherit;
        margin-top: 90px;
        color: white;
    }

    h4 {
        color: white;
        letter-spacing: 2px;
        word-spacing: 10px;
        font-size: 30px;
    }

    h1 {
        font-size: 30px;
        margin-top: 5%;
    }

    h3 {
        color: white;
        font-size: 30px;
        margin-bottom: 60px;
        margin-top: 5%;
    }

    .about {
     
        width: 100%;
        padding: 0px;
        background-size: 800px;
        background-repeat: no-repeat;
        background-color: rgb(0, 0, 0);
        background-position: center top;
        background-image: url("https://a1site.github.io/shreshth_malik/template/6.png");
        background-blend-mode: hard-light;
    }

   .main #additionalh2 {
        display:block;
        margin-top: 1%;
        margin-bottom: 1%;
        padding-bottom: 0%;
    }

   .main #additionalh5 {
        display: block;
        margin-bottom: 10%;
        font-weight: bold;
        font-size: 55px;
    }

    .about img {
        margin-top: 15%;
        height: auto;
        width: 230px;
        box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 20px;
    }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
    .main #additionalh5 {
        margin-bottom: 15px;
    }
}

@media (max-width: 53rem) {
    .navul {
        display: none;
    }

    .menu-btn {
        display: block;
        user-select: none;
        cursor: url("https://a1site.github.io/shreshth_malik/custom_cursor/pointercursorresized4.png"), pointer;
    }
}

svg {
    height: 80px;
    position: absolute;
    width: 80px;
}

.plates {
    display: flex;
    flex-wrap: wrap;
    max-height: 160px;
    width: 10px;
}

.plates {
    width: 80px;
}

.plate {
    height: 80px;
    width: 80px;
}

.burger {
    filter: url("#gooeyness");
}

.x {
    transform: scale(0);
    transition: transform 400ms;
}

.line {
    fill: none;
    stroke: rgb(253, 253, 253);
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform-origin: 50% center 0px;
    transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
}

.x .line {
    stroke-width: 5.5px;
}

.active .x {
    transform: scale(1);
    transition: transform 400ms 350ms;
}

.plate2 .line1 {
    stroke-dasharray: 21px, 185.628px;
}

.plate2 .line2 {
    stroke-dasharray: 21px, 178.651px;
    transition-delay: 30ms;
}

.plate2 .line3 {
    stroke-dasharray: 21px, 197.924px;
    transition-delay: 60ms;
}

.plate2 .line4 {
    stroke-dasharray: 21px, 190.66px;
    transition-delay: 90ms;
}

.plate2 .line5 {
    stroke-dasharray: 21px, 208.529px;
    transition-delay: 120ms;
}

.plate2 .line6 {
    stroke-dasharray: 21px, 186.597px;
    transition-delay: 150ms;
}

.active.plate2 .line1 {
    stroke-dasharray: 5px, 185.628px;
    stroke-dashoffset: -141px;
}

.active.plate2 .line2 {
    stroke-dasharray: 5px, 178.651px;
    stroke-dashoffset: -137px;
}

.active.plate2 .line3 {
    stroke-dasharray: 5px, 197.924px;
    stroke-dashoffset: -176px;
}

.active.plate2 .line4 {
    stroke-dasharray: 5px, 190.66px;
    stroke-dashoffset: -159px;
}

.active.plate2 .line5 {
    stroke-dasharray: 5px, 208.529px;
    stroke-dashoffset: -139px;
}

.active.plate2 .line6 {
    stroke-dasharray: 5px, 186.597px;
    stroke-dashoffset: -176px;
}

.active.plate2 .x {
    transition: transform 400ms 250ms;
}

#menu,
#menu ul {
    list-style: none;
}

#menu>li:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: rgba(0, 0, 0, 0.1) -1px 0px 0px, rgba(255, 255, 255, 0.25) 1px 0px 0px;
}

#menu a {
    display: block;
    position: relative;
    text-align: center;
    z-index: 9;
    padding: 13px 20px;
    text-decoration: none;
    color: rgb(75, 75, 75);
    line-height: 1;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: -0.05em;
    background: transparent;
    text-shadow: rgba(255, 255, 255, 0.9) 0px 1px 1px;
    transition: 0.25s ease-in-out;
}

#menu>li:hover>a {
    background: rgb(51, 51, 51);
    color: rgb(0, 223, 252);
    text-shadow: none;
}

#menu li ul {
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 0;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    opacity: 0;
    visibility: hidden;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: transparent;
    overflow: hidden;
    transform-origin: 50% 0% 0px;
}

#menu.active ul {
    padding: 80px 40px 40px;
    height: 600px;
    background: rgb(3, 3, 3);
    opacity: 1;
    visibility: visible;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 7px;
    animation-name: swingdown;
    animation-duration: 1s;
    animation-timing-function: ease;
}

@keyframes swingdown {
    0% {
        opacity: 0.99999;
        transform: rotateX(90deg);
    }

    30% {
        transform: rotateX(-20deg) rotateY(5deg);
        animation-timing-function: ease-in-out;
    }

    65% {
        transform: rotateX(20deg) rotateY(-3deg);
        animation-timing-function: ease-in-out;
    }

    100% {
        transform: rotate(0deg);
        animation-timing-function: ease-in-out;
    }
}

#menu li li a {
    padding-left: 15px;
    font-weight: 400;
    color: rgb(221, 221, 221);
    text-shadow: none;
    border-top: 1px dotted transparent;
    border-bottom: 1px dotted transparent;
    transition: 0.15s linear;
}

#menu li li a:hover {
    color: rgb(0, 223, 252);
    border-top: 1px dotted rgba(255, 255, 255, 0.15);
    background: rgba(0, 233, 252, 0.02);
}

#menu {
    display: none;
}

#menu.active {
    display: block;
    z-index: 100;
}

@media screen and (min-width: 768px) {
    #menu.active {
        display: none;
    }
}

.menu-btn {
    z-index: 115;
}

.box {
    display: inline-block;
    width: 100%;
    margin-top: 0%;
    height: 30px;
    background: linear-gradient(135deg, rgb(130, 129, 133), rgb(54, 53, 54), rgb(130, 129, 133), rgb(54, 53, 54), rgb(130, 129, 133), rgb(54, 53, 54), rgb(130, 129, 133), rgb(54, 53, 54));
    --m: conic-gradient(from -70deg at bottom, #0000, #000 1deg 139deg, #0000 140deg)50%/71.43px 100%;
    mask: var(--m);
}

.boxbottom {
    display: inline-block;
    width: 100%;
    margin-top: 0%;
    height: 30px;
    background: linear-gradient(135deg, rgb(130, 129, 133), rgb(54, 53, 54), rgb(130, 129, 133), rgb(54, 53, 54), rgb(130, 129, 133), rgb(54, 53, 54), rgb(130, 129, 133), rgb(54, 53, 54));
    --m: conic-gradient(from 110deg at top, #0000, #000 1deg 139deg, #0000 140deg)50%/71.43px 100%;
    mask: var(--m);
}

@font-face {
    font-family: "Great Vibes";
    src: url("https://fonts.gstatic.com/s/greatvibes/v18/RWmMoKWR9v4ksMfaWd_JN9XFiaQ.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Arizonia";
    src: url("https://fonts.gstatic.com/s/arizonia/v21/neIIzCemt4A5qa7mv5WBFqw.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Leckerli One";
    src: url("https://fonts.gstatic.com/s/leckerlione/v20/V8mCoQH8VCsNttEnxnGQ-1idKpZd.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Lobster Two";
    src: url("https://fonts.gstatic.com/s/lobstertwo/v20/BngMUXZGTXPUvIoyV6yN5-fN5qU.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Pacifico";
    src: url("https://fonts.gstatic.com/s/pacifico/v22/FwZY7-Qmy14u9lezJ-6H6Mk.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
    cursor: url("https://a1site.github.io/shreshth_malik/custom_cursor/2reszied.png"), auto;
}


body {
    margin-right: 9.5%;
    margin-left: 9.5%;
    margin-top: 9.5%;
    background-color: rgb(23, 23, 23);
    cursor: url("https://a1site.github.io/shreshth_malik/custom_cursor/2reszied.png"), auto;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 20px;
}

body::before {
    content: "";
    position: absolute;
    cursor: url("https://a1site.github.io/shreshth_malik/custom_cursor/2reszied.png"), auto;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url("https://a1site.github.io/shreshth_malik/template/sec1.png");
    background-attachment: fixed;
    filter: blur(10px);
    z-index: -1;
}

.hero {
    color: whitesmoke;
    height: 100vh;
    width: 100%;
  
    background-size: 430px;
    background-repeat: no-repeat;
    background-position: right bottom;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.8px;
    padding-left: 8%;
    padding-right: 8%;
    background-color: rgb(16, 16, 16);
    font-size: small;
}

.navul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

.navul li a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font: 18px / 1.2 "Lobster Two", Helvetica, sans-serif;
    text-shadow: rgba(0, 0, 0, 0.1) 4px 4px 3px;
}

.navul li a:hover {
    color: rgb(249, 0, 77);
    transition: 0.4s;
}

.logo {
    color: rgb(241, 234, 236);
    font: 30px / 1.2 "Lobster Two", Helvetica, sans-serif;
    text-shadow: rgba(0, 0, 0, 0.1) 4px 4px 3px;
}

ul {
    display: flex;
    list-style: none;
    gap: 2.5rem;
}

.item a {
    text-decoration: none;
    width: 4.8rem;
    height: 4.8rem;
    background-color: rgb(240, 249, 254);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border: 3px solid rgb(240, 249, 254);
    overflow: hidden;
}

.item a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 0;
    scale: 1 0;
    transform-origin: center bottom 0px;
    transition: scale 0.5s;
}

.item:hover a::before {
    scale: 1;
}

.icon {
    font-size: 1rem;
    color: rgb(2, 25, 39);
    transition: 0.5s;
    z-index: 2;
}

.item a:hover .icon {
    color: rgb(255, 255, 255);
    transform: rotateY(360deg);
}

.item:nth-child(1) {
    --bg-color: linear-gradient(to bottom right, #f9ce34, #ee2a7b, #6228d7);
}

.item:nth-child(2) {
    --bg-color: #0077b5;
}

.item:nth-child(3) {
    --bg-color: #ff0000;
}

.item:nth-child(4) {
    --bg-color: #000;
}

.btn {
    background-color: rgb(249, 0, 77);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform 0.4s;
}

.btn:hover {
    transform: scale(1.2);
}

.content {
    margin-left: 80px;
    margin-top: 15%;
   
    color: white;
}

h4 {
    color: white;
    letter-spacing: 2px;
    word-spacing: 30px;
    font: 550 50px / 0.8 "Great Vibes", Helvetica, sans-serif;
    text-shadow: rgba(0, 0, 0, 0.1) 4px 4px 3px;
z-index: -1;
}

h1 {
    z-index: -1;
    font: 550 50px / 0.8 "Great Vibes", Helvetica, sans-serif;
    margin-top: 5%;
    text-shadow: rgba(0, 0, 0, 0.1) 4px 4px 3px;
}

h3 {
    color: white;
    margin-bottom: 60px;
    font: 550 50px / 0.8 "Great Vibes", Helvetica, sans-serif;
    margin-top: 5%;
    text-shadow: rgba(0, 0, 0, 0.1) 4px 4px 3px;
}

.about {
    width: 100%;
    padding: 0px;
    background-color: rgb(10, 10, 10);
}

.about img {
    height: auto;
    max-width: 430px;
}

.about-text {
    width: auto;
    padding: 30px;
}

.main {
    max-width: 95%;
    margin: 0px auto;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: white;
    text-transform: capitalize;
    margin-bottom: 20px;
    font: 30px / 1.2 "Lobster Two", Helvetica, sans-serif;
    text-shadow: rgba(0, 0, 0, 0.1) 4px 4px 3px;
}

.about-text h5 {
    color: white;
    letter-spacing: 2px;
    margin-bottom: 25px;
    text-transform: capitalize;
    font: 30px / 1.2 "Lobster Two", Helvetica, sans-serif;
    text-shadow: rgba(0, 0, 0, 0.1) 4px 4px 3px;
}

.about-text p {
    font: 1.5vw / 29px "Lobster Two", Helvetica, sans-serif;
    text-shadow: rgba(0, 0, 0, 0.1) 4px 4px 3px;
    color:#5eae56
    letter-spacing: 1px;
    word-spacing: -1px;
    margin-bottom: 45px;
    margin-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
}

button {
    background-color: rgb(249, 0, 77);
    color: aliceblue;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    transition: 0.4s;
}

button:hover {
    background-color: transparent;
    border: 2px solid rgb(249, 0, 77);
    cursor: pointer;
}

footer {
    position: relative;
    width: 100%;
    height: 400px;
    background: rgb(16, 16, 16);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1) {
    color: white;
    margin-bottom: 20px;
    font: 30px / 1.2 "Lobster Two", Helvetica, sans-serif;
    text-shadow: rgba(0, 0, 0, 0.1) 4px 4px 3px;
}

footer p:nth-child(2) {
    font: 1.5vw / 35px "Lobster Two", Helvetica, sans-serif;
    text-shadow: rgba(0, 0, 0, 0.1) 4px 4px 3px;
    color: white;
    width: auto;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    margin-bottom: 2%;
}

.social {
    display: flex;
}

.social a {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(236, 232, 234);
    border-radius: 50%;
    margin: 22px 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
}

.social a:hover {
    transform: scale(1.3);
    transition: 0.3s;
}

.end {
    position: absolute;
    color: rgb(249, 0, 77);
    bottom: 35px;
    font-size: 1.2vw;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgb(138, 133, 133) rgb(41, 40, 40);
}

::-webkit-scrollbar {
    width: 16px;
    cursor: url("https://a1site.github.io/shreshth_malik/custom_cursor/2reszied.png"), auto;
}

::-webkit-scrollbar-track {
    background: rgb(41, 40, 40);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(138, 133, 133);
    border-radius: 6px;
    border: 3px dotted rgb(103, 101, 101);
}

a {
    cursor: url("https://a1site.github.io/shreshth_malik/custom_cursor/pointercursorresized4.png"), pointer;
}

.menu-btn {
    display: none;
}

@media screen and (max-width: 768px) {
    body {
        margin-right: 9.5%;
        margin-left: 9.5%;
        margin-top: 9.5%;
        background-color: rgb(23, 23, 23);
        cursor: url("https://a1site.github.io/shreshth_malik/custom_cursor/2reszied.png"), auto;
        box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 20px;
    }

    body::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-image: url("https://a1site.github.io/shreshth_malik/template/sec1re.png");
        background-position: right top;
        background-attachment: fixed;
        filter: blur(10px);
        z-index: -1;
    }

    .hero {
        height: 80vh;
        width: 100%;
        
        background-size: 300px;
        background-repeat: no-repeat;
        background-position: right bottom;
    }

    nav {
        position: sticky;
        padding-top: 0.8px;
        padding-left: 0%;
        padding-right: 8%;
        font-size: small;
        width: 100%;
    }

    svg {
        height: 80px;
        position: absolute;
        width: 80px;
    }

    .plates {
        display: flex;
        flex-wrap: wrap;
        max-height: 160px;
        width: 10px;
    }

    .plates {
        width: 32px;
    }

    .plate {
        height: 80px;
        width: 80px;
    }

    .burger {
        filter: url("#gooeyness");
    }

    .x {
        transform: scale(0);
        transition: transform 400ms;
    }

    .line {
        fill: none;
        stroke: rgb(253, 253, 253);
        stroke-width: 6px;
        stroke-linecap: round;
        stroke-linejoin: round;
        transform-origin: 50% center 0px;
        transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
    }

    .x .line {
        stroke-width: 5.5px;
    }

    .active .x {
        transform: scale(1);
        transition: transform 400ms 350ms;
    }

    .plate2 .line1 {
        stroke-dasharray: 21px, 185.628px;
    }

    .plate2 .line2 {
        stroke-dasharray: 21px, 178.651px;
        transition-delay: 30ms;
    }

    .plate2 .line3 {
        stroke-dasharray: 21px, 197.924px;
        transition-delay: 60ms;
    }

    .plate2 .line4 {
        stroke-dasharray: 21px, 190.66px;
        transition-delay: 90ms;
    }

    .plate2 .line5 {
        stroke-dasharray: 21px, 208.529px;
        transition-delay: 120ms;
    }

    .plate2 .line6 {
        stroke-dasharray: 21px, 186.597px;
        transition-delay: 150ms;
    }

    .active.plate2 .line1 {
        stroke-dasharray: 5px, 185.628px;
        stroke-dashoffset: -141px;
    }

    .active.plate2 .line2 {
        stroke-dasharray: 5px, 178.651px;
        stroke-dashoffset: -137px;
    }

    .active.plate2 .line3 {
        stroke-dasharray: 5px, 197.924px;
        stroke-dashoffset: -176px;
    }

    .active.plate2 .line4 {
        stroke-dasharray: 5px, 190.66px;
        stroke-dashoffset: -159px;
    }

    .active.plate2 .line5 {
        stroke-dasharray: 5px, 208.529px;
        stroke-dashoffset: -139px;
    }

    .active.plate2 .line6 {
        stroke-dasharray: 5px, 186.597px;
        stroke-dashoffset: -176px;
    }

    .active.plate2 .x {
        transition: transform 400ms 250ms;
    }

    .logo {
        margin-right: auto;
    }

    .content {
        margin-left: 17px;
        margin-top: 15%;
        color: white;
    }

    h4 {
        color: white;
        letter-spacing: 2px;
        word-spacing: 10px;
        font-size: 40px;
    }

    h1 {
        font-size: 40px;
        margin-top: 5%;
    }

    h3 {
        color: white;
        font-size: 30px;
        margin-bottom: 60px;
        margin-top: 4%;
    }

    .main {
        max-width: 100%;
        margin: 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: space-around;
    }

    .about {
        width: 100%;
        padding: 0px;
        background-color: rgb(10, 10, 10);
    }

    .about img {
        margin-top: 15%;
        height: auto;
        width: 230px;
        box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 20px;
    }

    .about-text h2 {
        color: white;
        display: none;
        font-size: 30px;
        text-transform: capitalize;
        margin-bottom: 25px;
    }

    .main #additionalh2 {
        color: white;
        margin-top: 20%;
        text-transform: capitalize;
        font: 30px / 1.2 "Lobster Two", Helvetica, sans-serif;
        display: block;
        text-shadow: rgba(0, 0, 0, 0.1) 4px 4px 3px;
    }

    .main #additionalh5 {
        font: 20px / 1.2 "Lobster Two", Helvetica, sans-serif;
        display: block;
        text-shadow: rgba(0, 0, 0, 0.1) 4px 4px 3px;
        color: white;
        letter-spacing: 2px;
        margin-top: 30%;
        text-transform: capitalize;
    }

    .about-text h5 {
        color: white;
        letter-spacing: 2px;
        display: none;
        font-size: 20px;
        margin-bottom: 25px;
        margin-top: 2%;
        text-transform: capitalize;
    }

    .about-text p {
        font-size: 15px;
        color: #5eae56;
        letter-spacing: 1px;
        line-height: 29px;
        word-spacing: -2px;
        margin-bottom: 45px;
        margin-top: 10%;
        padding-left: 5%;
        padding-right: 5%;
        text-align: justify;
    }

    button {
        background-color: rgb(249, 0, 77);
        color: aliceblue;
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 13px 30px;
        transition: 0.4s;
    }

    button:hover {
        background-color: transparent;
        border: 2px solid rgb(249, 0, 77);
        cursor: pointer;
    }

    footer {
        position: relative;
        width: 100%;
        height: 400px;
        background: rgb(16, 16, 16);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer p:nth-child(1) {
        font-size: 25px;
        color: white;
        margin-bottom: 20px;
        font-weight: bold;
    }

    footer p:nth-child(2) {
        color: white;
        font-size: 15px;
        width: auto;
        text-align: center;
        line-height: 26px;
        margin-bottom: 10%;
        padding-right: 4%;
        padding-left: 4%;
    }

    .social {
        display: flex;
    }

    .social a {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(236, 232, 234);
        border-radius: 50%;
        margin: -10px;
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 20px;
    }

    .social a:hover {
        transform: scale(1.3);
        transition: 0.3s;
    }

    .end {
        position: absolute;
        color: rgb(249, 0, 77);
        bottom: 35px;
        margin-top: 0%;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
   
   




   
.lamp {
  position: absolute;
  top: 90%;
left: -130px;
  
  height: 200px;
  z-index: 0;
  cursor: pointer;
  transition: transform 0.2s ease;
}





   /*scrambling effect code*/
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
.container{
  height: 100%;
  width: 100%;
  margin-top: 15%;
  margin-left: 5%;
font-family :'Roboto Mono', monospace;
}
.text{
  font-weight :100;
  font-size :18px;
  color :#FAFAFA;
}
.dud{
  color: #757575;
}

   
   
    body {
        margin-right: 3%;
        margin-left: 3%;
        margin-top: 3%;
    }

    body::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-image: url("https://a1site.github.io/shreshth_malik/template/ressec2.png");
        background-attachment: fixed;
        background-size: 330px;
        filter: blur(5px);
        z-index: -1;
    }

    html {
        overflow-x: hidden;
    }

    .hero {
        background-size: 300px;
        background-repeat: no-repeat;
        background-position: center bottom;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: inherit;
        margin-top: 90px;
        color: white;
        
    }

    h4 {
        color: white;
        letter-spacing: 2px;
        word-spacing: 10px;
        font-size: 30px;
        
    }

    h1 {
        font-size: 30px;
        margin-top: 5%;
    }

    h3 {
        color: white;
        font-size: 30px;
        margin-bottom: 60px;
        margin-top: 5%;
    }

    .about {
        width: 100%;
        padding: 0px;
        background-size: 800px;
        background-repeat: no-repeat;
        background-color: rgb(0, 0, 0);
        background-position: center top;
        background-image: url("https://a1site.github.io/shreshth_malik/template/6.png");
        background-blend-mode: hard-light;
    }

    #additionalh2 {
        display: block;
        margin-top: 10%;
        margin-bottom: 1%;
        padding-bottom: 0%;
    }

    #additionalh5 {
        display: block;
        margin-bottom: 10%;
    }

    .about img {
        margin-top: 15%;
        height: auto;
        width: 230px;
        box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 20px;
    }


    #menu,
#menu ul {
    list-style: none;
}

#menu>li:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: rgba(0, 0, 0, 0.1) -1px 0px 0px, rgba(255, 255, 255, 0.25) 1px 0px 0px;
}

#menu a {
    display: block;
    position: relative;
    text-align: center;
    z-index: 9;
    padding: 13px 20px;
    text-decoration: none;
    color: rgb(75, 75, 75);
    line-height: 1;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: -0.05em;
    background: transparent;
    text-shadow: rgba(255, 255, 255, 0.9) 0px 1px 1px;
    transition: 0.25s ease-in-out;
}

#menu>li:hover>a {
    background: rgb(51, 51, 51);
    color: rgb(0, 223, 252);
    text-shadow: none;
}

#menu li ul {
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 200;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    opacity: 0;
    visibility: hidden;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: transparent;
    overflow: hidden;
    transform-origin: 50% 0% 0px;
}

#menu.active ul {
    padding: 80px 40px 40px;
    height: 310px;
    background: rgb(3, 3, 3);
    opacity: 100;
    z-index: 220;
    visibility: visible;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 7px;
    animation-name: swingdown;
    animation-duration: 1s;
    animation-timing-function: ease;
}

@keyframes swingdown {
    0% {
        opacity: 0.99999;
        transform: rotateX(90deg);
    }

    30% {
        transform: rotateX(-20deg) rotateY(5deg);
        animation-timing-function: ease-in-out;
    }

    65% {
        transform: rotateX(20deg) rotateY(-3deg);
        animation-timing-function: ease-in-out;
    }

    100% {
        transform: rotate(0deg);
        animation-timing-function: ease-in-out;
    }
}

#menu li li a {
    padding-left: 15px;
    font-weight: 400;
    color: rgb(221, 221, 221);
    text-shadow: none;
    border-top: 1px dotted transparent;
    border-bottom: 1px dotted transparent;
    transition: 0.15s linear;
}

#menu li li a:hover {
    color: rgb(0, 223, 252);
    border-top: 1px dotted rgba(255, 255, 255, 0.15);
    background: rgba(0, 233, 252, 0.02);
}

#menu {
    display: none;
}

#menu.active {
    display: block;
    z-index: 100;
}







}

@media screen and (max-width: 768px) and (min-width: 480px) {
    .main #additionalh5 {
        margin-bottom: 15px;
    }
}

@media (max-width: 53rem) {
    .navul {
        display: none;
    }

    .menu-btn {
        display: block;
        user-select: none;
        cursor: url("https://a1site.github.io/shreshth_malik/custom_cursor/pointercursorresized4.png"), pointer;
    }
}

svg {
    height: 80px;
    position: absolute;
    width: 80px;
}

.plates {
    display: flex;
    flex-wrap: wrap;
    max-height: 160px;
    width: 10px;
}

.plates {
    width: 80px;
}

.plate {
    height: 80px;
    width: 80px;
}

.burger {
    filter: url("#gooeyness");
}

.x {
    transform: scale(0);
    transition: transform 400ms;
}

.line {
    fill: none;
    stroke: rgb(253, 253, 253);
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform-origin: 50% center 0px;
    transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
}

.x .line {
    stroke-width: 5.5px;
}

.active .x {
    transform: scale(1);
    transition: transform 400ms 350ms;
}

.plate2 .line1 {
    stroke-dasharray: 21px, 185.628px;
}

.plate2 .line2 {
    stroke-dasharray: 21px, 178.651px;
    transition-delay: 30ms;
}

.plate2 .line3 {
    stroke-dasharray: 21px, 197.924px;
    transition-delay: 60ms;
}

.plate2 .line4 {
    stroke-dasharray: 21px, 190.66px;
    transition-delay: 90ms;
}

.plate2 .line5 {
    stroke-dasharray: 21px, 208.529px;
    transition-delay: 120ms;
}

.plate2 .line6 {
    stroke-dasharray: 21px, 186.597px;
    transition-delay: 150ms;
}

.active.plate2 .line1 {
    stroke-dasharray: 5px, 185.628px;
    stroke-dashoffset: -141px;
}

.active.plate2 .line2 {
    stroke-dasharray: 5px, 178.651px;
    stroke-dashoffset: -137px;
}

.active.plate2 .line3 {
    stroke-dasharray: 5px, 197.924px;
    stroke-dashoffset: -176px;
}

.active.plate2 .line4 {
    stroke-dasharray: 5px, 190.66px;
    stroke-dashoffset: -159px;
}

.active.plate2 .line5 {
    stroke-dasharray: 5px, 208.529px;
    stroke-dashoffset: -139px;
}

.active.plate2 .line6 {
    stroke-dasharray: 5px, 186.597px;
    stroke-dashoffset: -176px;
}

.active.plate2 .x {
    transition: transform 400ms 250ms;
}



@media screen and (min-width: 768px) {
    #menu.active {
        display: none;
    }
}

.menu-btn {
    z-index: 115;
}

.box {
    display: inline-block;
    width: 100%;
    margin-top: 0%;
    height: 30px;
    background: linear-gradient(135deg, rgb(130, 129, 133), rgb(54, 53, 54), rgb(130, 129, 133), rgb(54, 53, 54), rgb(130, 129, 133), rgb(54, 53, 54), rgb(130, 129, 133), rgb(54, 53, 54));
    --m: conic-gradient(from -70deg at bottom, #0000, #000 1deg 139deg, #0000 140deg)50%/71.43px 100%;
    mask: var(--m);
}

.boxbottom {
    display: inline-block;
    width: 100%;
    margin-top: 0%;
    height: 30px;
    background: linear-gradient(135deg, rgb(130, 129, 133), rgb(54, 53, 54), rgb(130, 129, 133), rgb(54, 53, 54), rgb(130, 129, 133), rgb(54, 53, 54), rgb(130, 129, 133), rgb(54, 53, 54));
    --m: conic-gradient(from 110deg at top, #0000, #000 1deg 139deg, #0000 140deg)50%/71.43px 100%;
    mask: var(--m);
}